<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Used Cars Sale</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <style>
        header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), 
        url({{ url_for('static',filename='img/background_img_crp.jpg') }});
        }
    </style>
</head>
<body>
<!--
    Preloader 
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
-->
   <header>
   <img src="static/img/text.gif">
   <div class="center">
        <a href="/data">ANALYSE DATA </a>
        <a href="/form">SEARCH</a>
   </div>
   <p>
       This is the Right place to find your car.
       Thank You for being here!
   </p>
   </header>
   
   <footer>
       Made By Varma.
   </footer>
</body>
</html>